# Unity generated folders (DO NOT COMMIT)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / IDE junk
.vs/
*.csproj
*.sln
*.user
*.userprefs

# Logs
*.log